<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    
    <display-name>Color Selector Application</display-name>

    <!-- Cấu hình Servlet -->
    <servlet>
        <servlet-name>ColorServlet</servlet-name>
        <servlet-class>controller.ColorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ColorServlet</servlet-name>
        <url-pattern>/ColorServlet</url-pattern>
    </servlet-mapping>

    <!-- Cấu hình Filter -->
    <filter>
        <filter-name>ColorFilter</filter-name>
        <filter-class>filter.ColorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ColorFilter</filter-name>
        <url-pattern>/ColorServlet</url-pattern>
    </filter-mapping>

    <!-- Cấu hình Listener -->
    <listener>
        <listener-class>listener.RequestListener</listener-class>
    </listener>

    <!-- Cấu hình Welcome Page -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Cấu hình Context Parameters -->
    <context-param>
        <param-name>appTheme</param-name>
        <param-value>dark-mode</param-value>
    </context-param>

    <!-- Cấu hình Session Timeout -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Cấu hình Mô-đun Web -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/xml/ns/javaee</taglib-uri>
            <taglib-location>/WEB-INF/tlds/my-tags.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>